.App {
  text-align: center;
  background: #ffc8dd;
  justify-content: center;
}

input {
  width: 150px;
}

.reward-input button {
  width: 100px 300px;
}

.reward-input {
  display: flex;
  flex-direction: column;
}

button, 
span {
  font-size: 50px;
}